body{
    margin: 0px 0px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: rgb(66, 65, 65);
    overflow-wrap: break-word;
    background-color:#83888E;
}

.container{
    display: grid;
    grid-template-areas: "header header header"
                        "left-nav main aside"
                        "footer footer footer";
    grid-template-columns: 230px 1fr 180px;
    grid-template-rows:  auto 1fr auto;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0px 5px 15px 5px rgba(17, 0, 0, 0.1);
}

.header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    background: rgb(255, 255, 255);
}

.main-title {
    margin: 0;
    text-align: center;
	font-size:12px;
	background-color:#f7f8f9;
}

.main-navigation {
	display:flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.quote{
    flex-basis: 20%;
    padding-right: 10px;
    color: rgb(56, 56, 121);
    font-weight: 700;
    line-height: 19px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    border-top: solid 1px;
    border-color:#990000;
    width: 97%;
    align-self: center;
}

.site-navigation {
	font-size:13px;
    line-height: 20px;
}
.site-navigation > li {
    margin: 0;
    padding: 0;
}

.li-home {
    list-style-image:url(../images/house.png);
}

.li-contacts {list-style-image:url(../images/email_edit.png);}
.li-map{list-style-image:url(../images/zoom.png);}
.li-rss{list-style-image:url(../images/feed.png); word-wrap: none;}
.li-email{list-style-image:url(../images/feed_email.png);}

.site-navigation a{
    text-decoration:none;
    color:#990000;
    font-weight:700;
}

.site-navigation a:hover{
    text-decoration:none; 
    border-bottom: 1px solid #990000;
}

.site-navigation a:visited{
    text-decoration:none;
}

.menuToggle-p{
    display: none;
}

.img-search{
    display: none;
    cursor: pointer;
    margin-top: 0;
}

.menuToggle{
    display: none;
    cursor: pointer;
    margin-top: 0; 
}

.left-menu-Toggle{
    display: none;
    cursor: pointer;
}

.wrap-nav-left, .wrap-nav-right{
    display: none;
}

.left-nav{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    grid-area:left-nav;
    background: rgb(255, 255, 255);
}

/*Start left menu*/
.category-wrap {
    padding: 5px;
    background: white;
    width: 190px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    border-radius: 6px;
    margin-bottom: 12px;
}

.category-wrap h2 {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap h2:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(0,0,0,.3);
}

.category-wrap li {
	margin:5px 0 0 0px;
}

.category-wrap a {
    text-decoration: none;
    display: block;  
    font-size: 12px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
    border-bottom: 1px dashed #ceddd6;
}

.category-wrap a:after {
    content:"\f18e";
    font-family: FontAwesome;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}

.category-wrap a:hover {
  background: #80C8A0;
  color: white;
}
/*End left menu*/

.main{
    grid-area: main;
    background: rgb(255, 255, 255);
    padding-right: 8px;
}

.bread-crumbs {
    font-size: 11px;
}

.bread-crumbs a{
    text-decoration: none;
}

.bread-crumbs a:hover{
    text-decoration: underline;
}

.bread-crumbs a:visited{
    text-decoration:dotted;
}

.article-name{
    font-size: 16px;
    text-decoration: none;
    display: inline;
}

.article-name a{
    text-decoration: none;
}

.article-anons {

    width: auto;
    margin-bottom: 20px;
}

.title-anons{
    border-top: #b8bec5 1px solid;
    border-bottom: #b8bec5 1px solid;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info{
    display: flex;
    align-items: center;
}

.post-info p{
    margin: 0;
}

.post-img{
    display: inline;
    text-align: left;
}

.anons{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}

.img-anons{
    float:left;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.end-anons{
    display: flex;
    justify-content: space-between;
    border-bottom: #b8bec5 1px solid;
    padding-bottom: 2px;
    font-size: 10px; 
}

.end-anons a{
    font-size: 12px;
}

.post-add{
    font-size: 10px;
}

.post-comment{
    color: #bb0a0a;
    font-weight: 700;
}

.post-div{
    border-top: #b8bec5 1px solid;
    border-bottom: #b8bec5 1px solid;
}

.main p{
    text-align: justify;
    margin-right: 0px;
    margin-top: 4px;
}

.main-article h2{
    color: #CC0000;
    text-align: center;
    margin: 5px 0 5px 0;
}

.main-article{
    justify-content: center;
    margin-right:0px;
    width: 100%;
}

.popular{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular a{
    text-decoration: none;
    margin-right: 5px;
}

.popular a:hover{
    text-decoration: underline;
}

.popular > section{
    width: 265px;
    padding: 0;

}

.popular h3{
    color: rgb(22, 77, 150);
    text-align: center;
    border-bottom:solid 1px;
    border-bottom-color: #CC0000;
    margin: 0;
}

.popular section ul{
    padding: 0;
}

.popular section li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
}

.popular section img{
    margin: 5px;
    width: 60px;
    box-shadow: 1px 1px 1px 1px rgba(0.1,0.1,0.1,0.1);
}


.aside{
    grid-area: aside;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #7D1711;
    font-size: 10px;
    background-image: url(../images/footer.jpg);
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    color: #ffffff;
}

.all_rights{
    flex-wrap: wrap;
    text-align: center;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    color: #ffffff;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 4px;
    padding: 0;
}

.nav-footer a{
    text-decoration: none;
    color: #f7f8f9;
}

.nav-footer a:hover{
    text-decoration: underline;
    color: #f7f8f9;
}

.nav-footer li{
    padding-right: 5px;
}

@media screen and (max-width: 960px){
    body{
        margin:0px;
    }

    .site-navigation{
        width: auto;  
    }

    .aside{display: none;}

    .quote{
        display: none;
    }

    .main-navigation{
       justify-content: space-around;
    }

    .container{
        grid-template-areas: "header header"
                            "left-nav main"
                            "footer footer";
        grid-template-columns: 220px 1fr;
        grid-template-rows:  auto 1fr auto;
        /*border: solid 1px #990000;*/
        min-height: 100vh;
    }

    .popular > section{
        width: 45%;
        height: auto;
        margin: 0 0 px;
        padding: 5px;
        font-size: 12px;
        align-self: flex-start;
    }
}

@media screen and (max-width: 768px){
    .site-navigation{
        width: auto;  
    }

    .main-header-logo{
        display: none;
    }

    .aside{display: none;}

    .quote{
        display: none;
    }

    .main-navigation{
       justify-content: space-around;
    }

    .container{
        grid-template-areas: "header header"
                            "left-nav main"
                            "footer footer";
        grid-template-columns: 220px 1fr;
        grid-template-rows:  auto 1fr auto;
        /*border: solid 1px #990000;*/
        min-height: 100vh;
    }

    .footer{
        background-image: none;
    }

    .popular{
        justify-content: center;
    }

    .popular > section{
        margin: 0 0 px;
        padding: 5px;
        flex-grow: 1;
    }
}

@media screen and (max-width: 560px){
    .site-navigation{
        width: auto;
        display: none;  
        position: absolute;
        top: 25px;
        left: 0;
        background: #ffffff;
        width: 95%;
        /*border: 1px solid #210c6d;*/
    }

    .popular > section{
        
        width: 80%;
        margin: 0 10px 10px 10px;
        padding: 0 10px 0 10px;
    }

    .popular > section > ul{
        text-align: center;
    }

    .img{
        margin-top: 0px;
        margin-left: 2px;
        max-width: 140px;
        max-height: 48px;
    }

    .main-header-logo{
        display: none;
        order: -1;
        margin-bottom: 0;
    }

    .logo{
        display: none;
    }

    .aside{display: none;}

    .quote{
        display: none;
    }
    .footer{
        background-image: none;
        height: auto;
    }

    .wrap-nav-left{
        display: inline;
        margin-left: 15px;
    }

    .wrap-nav-right{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 5px;
        width: 50px;
        justify-content: space-between;
    }

    .menuToggle{
        display: inline-block;
        order: -1;
        text-align: left;
    }

    .left-menu-Toggle{
        display: block;
        font-size: 34px;
    }

    .container{
        grid-template-areas: "header"
                            "main"
                            "footer";
        grid-template-columns: 1fr;
        grid-template-rows:  auto 1fr auto;
        /*border: solid 1px #990000;*/
        min-height: 100vh;
    }
 
    .header{
        position: sticky;
        top: 0;
        min-height: 2em;
        box-shadow: 0 6px 4px -4px #b8bec5;
    }

    .main-navigation{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .left-nav{
        display: none;
        position: absolute;
        top: 63px;
        right: 0px;
        background: #ffffff;
        width: 100%;
    }
    
    .market-google{
        display: none;
    }

    .search{
        display: none;
        position: absolute;
        top: 40px;
        right: 0px;
        background: #ffffff;
        width: 80%;
        min-height: 35px;
        text-align: center;
        align-content: center;
    }

    .img-search{
        display: inline-block;
        font-size: 16px;
        padding-right: 5px;
    }

    .menuToggle-p{
        display: inline;
        color: rgb(39, 87, 145);
        font-size: 19px;
        font-weight: 700;
    }

    .menuToggle-p span{
        color: rgb(148, 20, 52);
        font-size: 18px;
        font-weight: 700;
    }

    .line{
    display: none;
    }

    .category-wrap {
     width: 98%;
    }

    .main{
    padding-left: 8px;
    } 
}
/*
* {box-sizing: border-box;}
form {
  position: relative;
  width: 180px;
  
}
input {
  width: 100%;
  height: 30px;
  padding-left: 0px;
  border: 2px solid #2D4E75;
  border-radius: 5px;
  outline: none;
  background: #F6F6F6;
  color: #9E9C9C;
  text-indent: 5px;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 30px;
  height: 30px;
  border: none;
  background:  #F6F6F6;
  background-image: url(../images/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 2px solid #2D4E75;
}
button:before {
  /*content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F6F6F6;
}
*/